.flex {
    display: block;
}

.floatLeft {
    float: left;
}

.text {
    margin: -20px 0 0 0;
}

@media screen and (max-width: 480px) {
    .flex {
        display: flex;
        flex-flow: column;
    }

    .floatLeft {
        display: block;
    }

    .text {
        margin: -40px 0 0;
    }
}