.flex {
    display: block;
}

.floatLeft {
    float: left;
}

.text {
    margin: -20px 0 0 0;
}

@media screen and (max-width: 480px) {
    .flex, .spacebetween, .flexleft1, .flexleft2, .flexleft3 {
        display: block;
    }

    .text {
        margin: -20px 0 0;
    }
}