.flex {
    display: flex;
    justify-content: space-between;
}

.floatLeft {
    float: left;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.text {
    margin: -20px 0 0;
}

@media screen and (max-width: 480px) {
    .flex {
        display: block;
    }
}