.border {
    border: 1px solid var(--color-border);
    margin: 20px 50px 20px 0;
    height: 300px;
}

.image {
    background-color: var(--color-border);
}

.card {
    width: 200px;
    height: 100px;
    background-color: var(--color-white);

    margin: -25px 0 0;
}

.name {
    padding-top: 8px;
    margin-left: 20px;

    font-size: 20px;
    font-weight: bold;
}

.affiliation {
    font-size: 14px;
    margin-left: 20px;
    width: 80%;
}

@media screen and (max-width: 480px) {
    .border {
        margin: 0 auto 50px;
        text-align: center;
        width: 200px;
    }

    .card {
        margin: -25px auto 0;
        text-align: left;
    }
}