.footer {
	width: 100%;
	height: 400px;
	background-color: var(--color-blue);
	color: var(--color-white);
	display: flex;
	justify-content: space-evenly;
}

.pageInfo {
	display: flex;
	flex-wrap: wrap;
	width: 45%;
	margin-right: 30px;
}

@media screen and (max-width: 480px) {
	.footer{
		height: 800px;
		display: block;
	}

	.pageInfo {
		width: 80%;
		margin: 0 auto;
	}
}