body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, sans-serif, 'YuGothic' , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-black: #000000;
  --color-text: #666666;
  --color-header-border: #BBBBBB;
  --color-main: #63C1C7;
  --color-pale-main: #ECF8F5;
  --color-white: #ffffff;
  --color-blue: #8ABEFA;
  --color-gray: #F6F6F6;
  --color-border: #BBBBBB;
}

a {
  text-decoration: none;
  color: var(--color-black);
}