.backgroudWhite {
  background-color: var(--color-white);
}

.backgroundGreen {
  background-color: var(--color-pale-main);
}

.center {
  margin-left: 150px;
  margin-right: 150px;
}

.subtitle {
  margin: 0px;
  padding-top: 50px;
  font-size: 15px;
  color: var(--color-main);
  font-weight: bold;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

.childrenWrapper {
  padding-bottom: 30px;
}