.backgroudWhite {
    position: relative;

    height: 500px;
}

.backgroundGreen {
    position: relative;
    background-color: var(--color-pale-main);

    height: 550px;
}

.subtitle {
    position: absolute;
    top: 30px;
    left: 150px;

    font-size: 15px;
    color: var(--color-main);
    font-weight: bold;
}

.title {
    position: absolute;
    top: 50px;
    left: 150px;


    font-size: 28px;
    font-weight: bold;
}

.text {
    position: absolute;
    top: 130px;
    left: 200px;

    white-space: pre-wrap;

    font-size: 16px;
    width: 70%;
}