.background {
    position: relative;

    background-color: var(--color-pale-main);
    height: 450px;
}

.subtitle {
    position: absolute;
    top: 160px;
    left: 150px;
    
    font-size: 15px;
    font-weight: bold;
}

.title {
    position: absolute;
    top: 170px;
    left: 150px;

    font-size: 70px;
    color: var(--color-main);
}

.description {
    position: absolute;
    top: 320px;
    left: 150px;

    font-size: 15px;
}

@media screen and (max-width: 700px) {
    .background{
        height: 400px;
    }

    .subtitle {
        top: 100px;
        left: 35px;
    }

    .title {
        top: 110px;
        left: 35px;

        font-size: 50px;
    }

    .description {
        top: 215px;
        left: 35px;

        width: 80%;
    }
}