.card {
	position: absolute;
	top: 20px;
	left: 20px;

	height: 186px;
	width: 465px;
	background-color: var(--color-white);
	position: relative;
}

.top {
	position: absolute;
	top: 10px;
	left: 10px;

	width: calc(100% - 20px);
	height: 7px;
	background-color: var(--color-main);
}

.content {
	position: absolute;
	top: 17px;
	left: 10px;

	width: calc(100% - 20px);
	height: 100px;
	background-color: var(--color-white);

	color: var(--color-main);
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
}

.bottom {
	position: absolute;
	top: 117px;
	left: 10px;

	width: calc(100% - 20px);
	height: 60px;
	background-color: var(--color-main);

	color: var(--color-white);
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
}

@media screen and (max-width: 480px) {
	.card {
		top: 390px;
		left: 30px;

		height: 100px;
		width: 220px;
		z-index: 10;
	}

	.top {
		height: 4px;
	}

	.content {
		line-height: 10px;
		height: 30px;
	}

	.text {
		font-size: 10px;
		margin: 7px auto;
	}

	.bottom {
		top: 60px;
		height: 30px;
	}
}