.first_view {
	position: relative;
	height: 590px;
}

.image {
	position: absolute;
	width: 100%;
	object-fit: fill;
}

.hand_copy {
	z-index: 100;
	position: absolute;
	top: 200px;
	left: 830px;
}

.triangle1 {
	position: absolute;
	top: 0;
	left: 0;

	height: 0;
	width: 0;
	border-top: 210px solid var(--color-main);
	border-right: 617px solid transparent;
	opacity: 0.7;
}

.triangle2 {
	position: absolute;
	bottom: 0;
	right: 0;

	height: 0;
	width: 0;
	border-bottom: 330px solid var(--color-main);
	border-left: 330px solid transparent;
	opacity: 0.9;
}

.copy1 {
	position: absolute;
	top: 70px;
	right: 50px;
	padding: 5px;

	writing-mode: vertical-rl;
	line-height: 55px;

	font-size: 50px;
	color: var(--color-black);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
}

.copy2 {
	position: absolute;
	top: 70px;
	right: 140px;
	padding: 5px;

	writing-mode: vertical-rl;
	line-height: 55px;

	font-size: 50px;
	color: var(--color-black);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
}

.copy3 {
	position: absolute;
	top: 70px;
	right: 230px;
	padding: 5px;

	writing-mode: vertical-rl;
	line-height: 55px;

	font-size: 50px;
	color: var(--color-black);
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
}

.border, .imageSP, .copySP1, .copySP2 {
	display: none;
}

@media screen and (max-width: 480px) {
	.image, .copy1, .copy2, .copy3 {
		display: none;
	}

	.imageSP {
		display: block;
		width: 100%;
		object-fit: cover;
	}

	.border {
		display: block;
		position: absolute;
		top: 15px;
		left: 15px;
		height: calc(100% - 38px);
		width: calc(100% - 30px);
		border: 3px solid var(--color-white);
	}

	.triangle1 {
		border-top: 150px solid var(--color-main);
		border-right: 230px solid transparent;

		opacity: 0.6;
	}

	.triangle2 {
		border-bottom: 300px solid var(--color-main);
		border-left: 180px solid transparent;

		opacity: 0.6;
	}

	.hand_copy {
		top: 0;
		left: 10px;
		width: 300px;
		height: 200px;
	}
}