.container {
    width: 200px;
    height: 200px;
    background-color: aliceblue;
    border-radius: 5px;
    cursor: pointer;

    align-items: center;
}

.icon {
    margin: 50px 70px 0px;
    width: 60px;
    height: 60px;
}

.text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .container {
        width: 80px;
        height: 80px;
    }

    .icon {
        margin: 20px 25px -10px;
        width: 30px;
        height: 30px;
    }

    .text {
        font-size: 10px;
    }
}